.About-page.page {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.details {
    padding: 1rem 2rem;
    /* min-width: 40rem; */
    flex: 1;
}

.details .details-heading {
    font-size: 1.5rem;
    padding: 1rem;
    background: linear-gradient(to bottom, var(--primary-blue), var(--secondary-blue));
    border-radius: 1rem;
    margin: 2rem 0;
    color: var(--black);
    cursor: default;
}

.details .details-body {
    padding: 1rem;
}

.skills-details .details-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skill {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: var(--secondary-blue);
    background: var(--black);
    margin: .5rem;
    width: fit-content;
    border-radius: 1rem;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 900px) {
    .details {
        min-width: 80%;
    }
}