.error-message
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.error-message .error-code
{
    display: flex;
    font-family: monospace;
}
.error-message .error-code h1
{
    font-size: 25rem;
    user-select: none;
    color: var(--black);
    filter: opacity(.05);
    text-shadow: 0 1rem .5rem var(--black);
    padding: 0 1rem;
}
.error-message .page-not-found
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    color: var(--black);
    font-family: Verdana, sans-serif;
}
@supports (background-clip: text)
{
    .error-message .page-not-found
    {
        background: linear-gradient(to top left, var(--primary-blue),var(--secondary-blue));
        background-clip: text;
        color: transparent;
    }
}
.error-sub-message
{
    font-size: 3rem;
    color: var(--black);
}
.error-sub-message span
{
    color: var(--secondary-green);
}

@media (max-width: 900px) 
{ 
    .error-message .page-not-found
    {
        font-size: 7rem;
    }
}

@media (max-width: 600px) 
{ 
    .error-message .error-code h1
    {
        font-size: 20rem;
    }
    .error-message .page-not-found
    {
        font-size: 4.5rem;
    }
    .error-sub-message
    {
        font-size: 2rem;
    }
}

@media (max-width: 400px) 
{ 
    .error-message .error-code h1
    {
        font-size: 17rem;
    }
    .error-message .page-not-found
    {
        font-size: 3rem;
    }
}